@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: red;
}

.container {
    position: absolute;
    top: 15%;
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leftPart {
    display: flex;
    align-items: center;
}

.leftPart h1 {
    text-transform: uppercase;
    position: absolute;
    left: -1%;
    margin: 0;
    height: 50px;
    transform: rotate(-90deg);
}

.leftPart div {
    display: flex;
    flex-direction: column;
}

.leftPart h1 {
    font-family: "Montserrat", sans-serif;
    color: #727272;
}

.floorButton{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FA6D75;
    border-radius: 50px;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    text-decoration: none;
}

.leftPart a {
    text-decoration: none;
}

.floorButton p {
    font-family: "Montserrat", sans-serif;
    font-size: 120px;
    font-weight: 600;
    margin: 0;
    color: white;
}

.container img {
    width: 500px;
}

footer {
    background-color: red;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

footer h2, h4 {
    color: #FFFFFF7D;
}

h2, h4 {
    margin: 0;
}