@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
}

nav {
    top: 0;
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: #E30613;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    width: 20%;
}

.container {
    position: absolute;
    top: 15%;
    height: 75%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.leftPart {
    display: flex;
    align-items: center;
}

.leftPart h1 {
    text-transform: uppercase;
    position: absolute;
    left: -22%;
    margin: -15px;
    height: 50px;
    transform: rotate(-90deg);
}

.leftPart div {
    display: flex;
    flex-direction: column;
}

.leftPart h1 {
    font-family: "Montserrat", sans-serif;
    color: #727272;
}

.floorButton{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FA6D75;
    border-radius: 50px;
    width: 150px;
    height: 150px;
    margin-top: 15px;
    text-decoration: none;
}

.leftPart a {
    text-decoration: none;
}

.floorButton p {
    font-family: "Montserrat", sans-serif;
    font-size: 120px;
    font-weight: 600;
    margin: 0;
    color: white;
}

.rightPart {
    display: flex;
    flex-direction: column;
   

    
}
.teste{
    height: 30PX;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container img {
    width: 500px;
    padding: 40px;
}

.rightPart h3 {
    font-family: "Montserrat", sans-serif;
    color: #727272;
    font-size: 30px;
}


.rightPart a {
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin: 1%;
}

.interagir {
    position: fixed;
    bottom: 10%;
    right: 2%;
}

.acesse {
    position: fixed;
    right: 3%;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acesse img {
    width: 200px;
}

.acesse h2 {
    font-family: "Montserrat", sans-serif;
}

.interagir img:first-child {
    width: 60px;
}

.interagir img:last-child {
    width: 120px;
}

footer {
    background-color: #E30613;
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

footer h2, h4 {
    color: hsl(0, 100%, 88%);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;

}

h2, h4 {
    margin: 0;
}

.Back {
    background-color: #FA6D75;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    top: -36%;
    left: -10%;
}

.Back, a {
    text-decoration: none;
    font-size: 150px;
    color: black;
}

.SegundoAndar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SegundoAndar h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}